#header {
    display:flex;
    justify-content: space-between;
}
.logo-img{
    height: 54px;
    width: 78px;
    margin-left: 3%;
}
.nav{
    margin-right: 3%;
}
.nav-ul li {
    list-style: none;
}
.nav-ul {
    display:flex;
    flex-direction: row;
    gap: 10px;
}
a {
    text-decoration: none;
    font-size:20px;
    color: #009C99;
}
.text-header{
    color: #0CB04E;
    font-weight: bold;
    font-size: 26px;
}